import java.util.*;

public class Solution {
    public int[] ${method_name}(int[] nums, int target) {
        // TODO: 实现解题逻辑
        return new int[0];
    }

    public static void main(String[] args) {
        Solution s = new Solution();
        // {{TEST_CASES}}
        System.out.println("Java: All tests passed!");
    }
}
